body {
  background: black;
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
i {
  padding: 5px;
}
p {
  font-size: 2rem;
}

/* full screen button */
.fullscreen-wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}
.middle-of-screen {
  margin-top: 25%
}
